@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${GATSBY_FA_TOKEN}

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=43881A4F-D7F5-46CC-9874-56778D377237