@import '../../css/variables.css';

.contentPage {
  padding: 10vh 0 10vh;
  min-height: calc(100vh - var(--headerHeight));
  opacity: 1;
}

/* .contentPage a {
  border-bottom: 1px solid;
} */

@media (--medium) {
  .content {
    padding: 10vh 0 5vh;
  }
}
