@import '../../css/variables.css';

.some {
  border-top: 4px solid white;
    background: var(--colorBlack);
    color: var(--colorWhite);
    /* width: calc(70vw); */
    margin-top: 15vh;
}
.email {
  font-size: 1.333rem;
}

.link:hover {
  border-bottom: 1px solid var(--colorBlack);
}

.social {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social > * {
height: 25px;
}

.social li {
  display: inline-block;
  margin-right: calc(var(--gutter) * 2.5);
}

/* .social li:hover {
  border-bottom: 1px solid;
} */

